<<<<<<< HEAD
body {
	height: 100%;
}
.resume-box {
	background-color: dodgerblue;
	color: white;
	width: 200px;
	height: 700px;
	float: left;
}
=======
body {
	height: 100%;
}
.resume-box {
	background-color: dodgerblue;
	color: white;
	width: 200px;
	height: 700px;
	float: left;
}
>>>>>>> 86e28e26306bf2bc5a5bf1c09ed13bb05411beee
